<div class="text-center mt-4">
  <% if @documents.blank? %>
    <h1>Sem relatórios no momento</h1>
  <% else %>
    <% @documents.each do |document| %>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-6 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
              <div class="card-header font-italic">
                <%= document.xml_file.filename %>
              </div>
              <div class="card-body">
                Nota Fiscal: <%= document.report[:n_nf] %>
                Serie: <%= document.report[:serie] %>
              </div>
              <div class="card-footer text-muted">
                <small>
                  Data de emissão: <%= document.report[:dh_emi] %>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
