<div class="container">
  <p><strong>CNPJ:</strong> <%= destinatario[:cnpj] %></p>
  <p><strong>Nome:</strong> <%= destinatario[:name] %></p>
  <p><strong>Endereço:</strong> <%= destinatario[:address] %></p>
</div>
